<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>                                                                                                                                                                                                                                                                                                                                                                                                       
    <!-- nav section -->
    <nav>
        <a href="#home">Home</a>
        <a href="#virat">Virat</a>
        <a href="#rohit">Rohit</a>
        <a href="#rahul">Rahul</a>
        <a href="#iyer">Iyer</a>
    </nav>

    <!-------------- Virat ------------->
    <section id="home">
        <h2>Indian Crickters</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil nobis id dolores facere nostrum esse saepe, in dolorum consectetur ipsam, rerum iure quas natus suscipit qui temporibus facilis aliquid magni. Lorem ipsum dolor sit amet consectetur, adipisicing elit. A aliquid, voluptates harum omnis quidem dolorem sed. Optio, nisi sint. Porro aperiam saepe quasi dolorem cum debitis, esse recusandae, cumque sapiente illum a fugit commodi est nihil. Sequi illum voluptatem dignissimos mollitia. Quis minus magnam facilis? Aperiam itaque debitis aliquam suscipit!</p>
    <table>
        <tr>
            <td><img src="../images/Cricket.jpeg" alt="" width="300px" height="220px"></td>
            <td><img src="../images/Cricket.jpeg" alt="" width="300px" height="220px"></td>
        </tr>
    </table>
    </section>

    <!-- Virat -->
    <section id="virat">
        <h2>Virat Kohli</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis commodi harum repudiandae tenetur vel blanditiis, eos suscipit doloremque molestiae minima distinctio. Facere blanditiis debitis harum deserunt cum praesentium voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque hic magni officia ex odit molestias amet dicta, illo delectus voluptatibus veniam culpa non incidunt perferendis tenetur ratione sapiente ipsum, placeat enim cum esse consectetur. Perferendis similique deserunt facere! Veniam ipsum ratione aspernatur totam beatae at omnis facere distinctio rerum iusto?</p>
        <table>
            <tr>
                <td><img src="../images/virat.webp" alt="" width="250px" height="220px"></td>
                <td><img src="../images/virat.webp" alt="" width="250px" height="220px"></td>
                <td><img src="../images/virat.webp" alt="" width="250px" height="220px"></td>
                <td><img src="../images/virat.webp" alt="" width="250px" height="220px"></td>
            </tr>
        </table>
    </section>

    <!-- Rohit -->
    <section id="rohit">
        <h2>Rohit Sharma</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis commodi harum repudiandae tenetur vel blanditiis, eos suscipit doloremque molestiae minima distinctio. Facere blanditiis debitis harum deserunt cum praesentium voluptate. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste unde quam reprehenderit maxime odio corrupti obcaecati at totam eos quaerat, pariatur nam? Laborum est tempore quibusdam vitae molestiae et totam eaque enim hic veritatis ea dignissimos velit fugiat iure illo nulla qui, inventore laboriosam minus culpa. Aspernatur iste deserunt temporibus?</p>
        <table>
            <tr>
                <td><img src="../images/rohit.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/rohit.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/rohit.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/rohit.jpeg" alt="" width="230px" height="220px"></td>
            </tr>
        </table>
    </section>

    <!-- Rahul -->
    <section id="rahul">
        <h2>KL Rahul</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis commodi harum repudiandae tenetur vel blanditiis, eos suscipit doloremque molestiae minima distinctio. Facere blanditiis debitis harum deserunt cum praesentium voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsam cumque distinctio impedit vitae sequi voluptatum fugiat. Nulla in sint quasi ex voluptatum repudiandae tempora, autem, perferendis reprehenderit quo magnam? Itaque, officiis eveniet. Fugit, nesciunt itaque eius quaerat molestiae, consequatur saepe provident in consequuntur unde eum voluptatum delectus ad.</p>
        <table>
            <tr>
                <td><img src="../images/rahul.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/rahul.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/rahul.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/rahul.jpeg" alt="" width="230px" height="220px"></td>
            </tr>
        </table>
    </section>

    <!-- Iyer -->
    <section id="iyer">
        <h2>Shreyas Iyer</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis commodi harum repudiandae tenetur vel blanditiis, eos suscipit doloremque molestiae minima distinctio. Facere blanditiis debitis harum deserunt cum praesentium voluptate. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci tempore fugit nam quae! Nostrum esse necessitatibus cupiditate blanditiis earum odio eaque fuga quam alias modi consequatur est deleniti, quia quisquam praesentium! Laborum possimus sapiente ipsum quam sint neque adipisci perspiciatis eveniet quo quia, magni modi eaque accusamus, dolore ipsam?</p>
        <table>
            <tr>
                <td><img src="../images/iyer.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/iyer.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/iyer.jpeg" alt="" width="230px" height="220px"></td>
                <td><img src="../images/iyer.jpeg" alt="" width="230px" height="220px"></td>
            </tr>
        </table>
    </section>

    <!-- Footer -->
    <section>
        <footer>
            <h2>CopyRights:&copy;2023</h2>
        </footer>
    </section>
</body>
</html>